body{
  background-color:darkslategrey;
}

.App {
  text-align: center;
}

.card{
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 2px solid aliceblue;
  border-radius: 8px;
  background-color: #FFFFFF70;
}

.gifs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

button{
  margin: 10px;
  width: 200px;
  height: 60px;
  font-size: large;
  color: whitesmoke;
  background-color: cadetblue;
  border-radius: 10px;
}

button:active{
  transform: scale(0.8,0.8);
}

button:hover{
  background-color: aquamarine;
  color: darkslategray;
}

.inputText{
  font-size:larger;
}

.submit{
  font-size: 20px;
  margin: 10px;
}